# File: userpreference/userpreference.service
[Unit]
Description=UserPreference Java Service
After=syslog.target network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/deploy
ExecStart=/usr/bin/java -jar /home/ec2-user/deploy/userpreference.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target
